<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{STATIC_URL}}jquery.mobile-1.3.1/jquery.mobile-1.3.1.min.css" />
        <script src="{{STATIC_URL}}js/jquery-1.9.1.min.js"></script>
        <script src="{{STATIC_URL}}jquery.mobile-1.3.1/jquery.mobile-1.3.1.min.js"></script>
        {% block extrahead %}
        {% endblock %}
    </head>
    <body>

        <div id="page" data-role="page">

            <div data-role="header">
                vcweb<br/>
                the virtual commons web environment
            </div>

            <div data-role="content">
                {% block content %}
                {% endblock %}
            </div>

            <div data-role="footer">
                UAA Experimental Economics Laboratory<br/>
                Arizona State University
            </div>
        
        </div>

    </body>
</html>
