{% extends "uaacore/forms/base.html" %}

{% block title %}Sign in - virtual commons{% endblock %}

{% block form %}
    <h3>Returning User</h3>
    <p>
    Don&#39;t have an account or a first-time user?  Please <a href='{% url "core:register" %}'>register first</a>.
    <br>
    If you've forgotten your password, you can <a href='{% url "password-reset" %}'>request a new one</a>.
    </p>
    {% include "uaacore/includes/bootstrap-form.html" %}
    <div class='controls'>
        <button type='submit' class='btn btn-primary'><span class="glyphicon glyphicon-user"></span> Login</button>
    </div>
{% endblock form %}

{% block javascript %}
{{ block.super }}
<script type='text/javascript'>
$(function() {
    $(':input').addClass('required');
    $('#vcweb-form').validate();
    $('#id_email').focus();
});
</script>
{% endblock %}


