{% extends "uaacore/forms/base.html" %}
{% block title %}Password Reset - virtual commons{% endblock %}

{% block form %}
<h3>Reset your password</h3>
<p>
Please enter your email address below and we'll send you instructions for setting a new password.
</p>
{% include "uaacore/includes/bootstrap-form.html" %}
<div class='form-actions'>
    <button type='submit' class='btn btn-primary'>Submit</button>
</div>
{% endblock %}

