{% extends "uaacore/base.html" %}

{% block title %}Password Reset Complete - virtual commons{% endblock %}

{% block page %}
<h3>Reminder sent</h3>
<p>
We've sent you an email with instructions on resetting your password.
</p>

{% endblock %}

