{% extends "uaacore/forms/base.html" %}

{% block head %}
{{ block.super }}

{% endblock head %}

{% block title %}Your Account - virtual commons{% endblock %}

{% block form %}
<h3>{{ request.user.get_full_name }}</h3>
<div id="error-messages"></div>

{% include "uaacore/includes/bootstrap-form.html" %}
<div class='controls'>
    <button type='submit' id='submitForm' class='btn btn-primary'>Save</button>

    <a class="btn btn-default" href="{% url 'uaacore:change_password' %}">Change Password</a>
</div>

{% endblock %}

{% block javascript %}
    {{  block.super }}
        <script type='text/javascript'>
        $(document).ready(function() {
            $("#vcweb-form :input:visible:enabled:first").focus();

            $('#vcweb-form').validate({
                rules: {
                    major: {
                        required: "#id_can_receive_invitations:checked"
                    },
                    class_status: {
                        required: "#id_can_receive_invitations:checked"
                    },
                    gender: {
                        required: "#id_can_receive_invitations:checked"
                    },
                    email: {
                        required: true,
                        email: true,
                        remote: {
                            url: "/accounts/check-email",
                            type: "get",
                            data: {
                                email: function() {
                                    return $( "#id_email" ).val();
                                }
                            }
                        }
                    }
                },
                messages: {
                    major: "We need your major if you want to receive invitations",
                    class_status: "we need your class status if you want to receive invitations",
                    gender: "we need your gender if you want to receive invitations",
                    email: {
                        remote: 'Email already exists'
                    }
                },
                submitHandler: function(form) {
                    var formData = $('#vcweb-form').serialize();

                    $.ajax({
                        type: "POST",
                        url: "/accounts/profile/update",
                        data: formData,
                        success: function(data) {
                            if(data.success) {
                                $("#error-messages").html('<div class="alert alert-success"><strong>Well done! </strong>Your profile has been updated successfully.</strong></div>');
                            } else {
                                $("#error-messages").html('<div class="alert alert-danger"><strong>'+data.message+'</strong></div>');
                            }
                        }
                    });
                }
            });

{#            $("#id_email").blur(function(){#}
{#                $.get('/accounts/check-email', {email: $(this).val()})#}
{#                        .done(function(response){#}
{#                         if(response.success != undefined) {#}
{##}
{#                             if(response.success) {#}
{#                                    $("#error-messages").html('<div class="alert alert-success"><strong>'+response.message+'</strong></div>');#}
{#                                } else {#}
{#                                    $("#error-messages").html('<div class="alert alert-danger"><strong>'+response.message+'</strong></div>');#}
{#                                }#}
{#                         }#}
{#                     });#}
{#                 });#}

        });
    </script>
    {%  endblock javascript %}

