{% extends "uaacore/forms/base.html" %}

{% block title %}Change Password - virtual commons{% endblock %}


{% block form %}
    <h3>Change Password</h3>
    {% include "uaacore/includes/bootstrap-form.html" %}
    <div class='controls'>
        <button type='submit' class='btn btn-primary'>Change Password</button>
    </div>
{% endblock form %}
