{% extends "uaacore/base.html" %}

{% block title %}Password Changed - virtual commons{% endblock %}

{% block page%}
    <h3>Password changed sucessfully.</h3>

    <p>
    <a class="btn btn-default" href="{% url 'core:profile' %}">
        <span class="glyphicon glyphicon-arrow-left"></span>
        Return to Account</a>
    </p>

{% endblock %}
