{% extends "uaacore/base.html" %}

{% block title %}Password Reset Complete - virtual commons{% endblock %}

{% block page%}
    <h3>Password changed sucessfully</h3>

    <p>
    <a class="btn btn-default" href="{% url 'core:login' %}">Sign In</a>
    </p>

{% endblock %}
