{% extends "uaacore/forms/base.html" %}

{% block title %}Password Reset Confirmation - virtual commons{% endblock %}

{% block form %}

    {% if validlink %}

        <h3>Password Reset Confirmation</h3>
        <p>Please enter your new password twice so we can verify you typed it in correctly.</p>
        {% include "uaacore/includes/bootstrap-form.html" %}
        <div class='controls'>
            <button type='submit' class='btn btn-primary'>Change Password</button>
        </div>
    {% else %}
        <h3>Password reset unsuccessful</h3>

        <p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>

    {% endif %}

{% endblock form %}
