{% extends "uaacore/base.html" %}

{% load dajaxice_templatetags %}

{% block title %}
Experimenter Dashboard - virtual commons
{% endblock %}

{% block head %}
    {{block.super}}
    <style type="text/css">
        table.autowidth {
            width: auto;
        }
    </style>
{% endblock %}

{% block page %}
    {{block.super}}

    <h2>Experimenter Dashboard</h2>

    <div id='dashboard'>
    <ul class='nav nav-tabs'>
        <li class='active'><a href='#running' data-toggle='tab'>Running experiments</a></li>
        <li><a href='#pending' data-toggle='tab'>Pending experiments</a></li>
        <li><a href='#archived' data-toggle='tab'>Archived experiments</a></li>
        <li><a href='#start' data-toggle='tab'>Start a new experiment</a></li>
    </ul>
    <div class='tab-content'>
        <div class='tab-pane' id='start'>
            <div data-bind='foreach: sortedExperimentMetadataList'>
                <h3><span data-bind='text: title'></span>
                    <i style='cursor: pointer;' data-bind='click: $root.toggleExperimentMetadataBookmark.bind($data), css: { "icon-star-empty": ! bookmarked(), "icon-star text-gold": bookmarked}'></i>
                </h3>
                <div data-bind='foreach: configurations'>
                    <div class='alert alert-message'>
                        <h4><span data-bind='text: name'>configuration name</span> (treatment id: <span data-bind='text: treatment_id() || "None"'></span>) <span class='pull-right' data-bind='text: date_created'></span></h4>
                        <span data-bind='text: number_of_rounds'></span> rounds, groups of <span data-bind='text: max_group_size'></span>
                        <br>
                        <div class='btn-group'>
                            <a class='btn btn-default' data-bind='click: $root.createNewExperiment.bind($data)'>start new experiment</a>
                            <a class='btn btn-default' disabled data-bind='click: $root.modify'>edit configuration</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class='tab-pane' id='pending'>
            <div data-bind='if: pendingExperiments().length === 0'>
                No pending experiments.
            </div>
            <div data-bind='template: { name: "experiment-controller-template", foreach: pendingExperiments }'></div>
        </div>

        <div class='tab-pane active' id='running'>
            <div data-bind='if: runningExperiments().length === 0'>
                <div class='alert alert-message'>
                    No active experiments, <a href='#start' data-bind='click: activateStartExperimentTab'>start a new one?</a>
                </div>
            </div>
            <div data-bind='template: { name: "experiment-controller-template", foreach: runningExperiments }'></div>
        </div>
        <div class='tab-pane' id='archived'>
            <div data-bind='if: archivedExperiments().length === 0'>
                <div class='alert alert-message'>No archived experiments.</div>
            </div>
            <div data-bind='template: { name: "experiment-controller-template", foreach: archivedExperiments }'></div>
        </div>
    </div>
</div>
{% endblock page %}

{% block javascript %}
<script src='{{STATIC_URL}}js/jquery.cookie.js'></script>
<script src='{{STATIC_URL}}js/ko/knockout.min.js'></script>
<script src='{{STATIC_URL}}js/ko/knockout.mapping.min.js'></script>
<script src='{{STATIC_URL}}js/common.js'></script>
{% dajaxice_js_import %}
<script type='text/html' id='experiment-controller-template'>
    <div class='alert alert-message'>
    <h4><span data-bind='text: status_line'></span> <span class='pull-right'><span data-bind='text: participantCount' class='badge badge-important'></span> participants</span></h4>
    <div class='btn-group'>
        <a class='btn btn-default' data-bind='attr: { href: monitor_url }'><i class='icon-zoom-in'></i> monitor</a>
        <button class='btn btn-default' data-content='Creates a new copy of this experiment with the same configuration and no participants.'
            data-bind='click: $root.cloneExperiment'><i class='icon-copy'></i> clone</button>
        <button data-content='Remove all participants from the experiment, including any data they may have generated.'
            data-action='clear-participants'
            data-bind='enable: $root.canClearParticipants($data), click: $root.clearParticipants' class='btn btn-default'>
            <i class='icon-trash'></i> clear all participants</button>
        <button data-action='complete' data-content='Archive and mark this experiment as completed'
            data-bind='disable: isArchived, click: $root.archive' class='btn btn-default'><i class='icon-save'></i> archive</button>
    </div>
</div>
</script>
{{ block.super }}
<script type='text/javascript'>
    var viewModelObject = $.parseJSON("{{ dashboardViewModelJson|escapejs }}");
    $(function() {
        function DashboardViewModel(viewModelObject) {
            var self = this;
            var model = ko.mapping.fromJS(viewModelObject);
            model.activateStartExperimentTab = activateTabFunctor('#start');
            model.activatePendingExperimentsTab = activateTabFunctor('#pending');
            model.refreshViewModel = function() {
                $.get('api/dashboard', function(response) {
                    if (response.success) {
                        console.debug(response.dashboardViewModel);
                        ko.mapping.fromJSON(response.dashboardViewModelJson, model);
                    }
                });
            }
            model.sortedExperimentMetadataList = ko.computed(function() {
                return model.experimentMetadataList.sort(function(a, b) {
                    if (a.bookmarked() && b.bookmarked()) {
                        return a.title() > b.title();
                    }
                    else if (a.bookmarked()) {
                        return -1;
                    }
                    else if (b.bookmarked()) {
                        return 1;
                    }
                    else {
                        return a.title() > b.title();
                    }
                });
            });
            model.toggleExperimentMetadataBookmark = function(experimentMetadataModel) {
                console.debug("toggling bookmark for experiment metadata");
                $.post("/experimenter/bookmark-experiment-metadata", {
                    experimenter_id: {{ request.user.experimenter.pk }},
                    experiment_metadata_id: experimentMetadataModel.pk()
                },
                function(response) {
                    if (response.success) {
                        var bookmarked = experimentMetadataModel.bookmarked();
                        experimentMetadataModel.bookmarked(! bookmarked);
                    }
                });
            }
            model.confirmExperimentAction = function(experimentModel, event) {
                console.debug(experimentModel);
                var btn = $(event.target);
                var description = btn.attr("data-content");
                var controllerAction = btn.attr("data-action");
                if (btn.hasClass('disabled')) {
                    console.debug("clicked on disabled button, ignoring");
                    return false;
                }
                bootbox.confirm(description + ". Continue?", function(confirmed) {
                    if (confirmed) {
                        Dajaxice.vcweb.core.experiment_controller(function (data) {ko.mapping.fromJS(data.dashboardViewModel);}, { action: controllerAction });
                    }
                });
            }
            model.gotoExperimentUrl = function(urlAction, experimentModel) {
                var url = model.controllerUrl(experimentModel, urlAction);
                window.location = url;
            }
            model.controllerUrl = function(experimentModel, urlAction) {
                return experimentModel.controller_url() + "/" + urlAction;
            }
            function pendingExperimentCallback(data) {
                if (data.success) {
                    pendingExperimentModel = ko.mapping.fromJS(data.experiment);
                    model.pendingExperiments.unshift(pendingExperimentModel);
                    model.activatePendingExperimentsTab();
                }
            }
            function modifyExperimentCallback(experimentModel) {
                return function(data) {
                    console.debug("updating experiment model from");
                    console.debug(experimentModel);
                    console.debug("to");
                    console.debug(data.experiment);
                    model.refreshViewModel();
                }
            }
            // FIXME: get rid of code duplication 
            model.createNewExperiment = function(configurationModel, event) {
                Dajaxice.vcweb.core.create_experiment(pendingExperimentCallback, { experiment_configuration_id: configurationModel.pk() });
            }
            model.cloneExperiment = function(experimentModel, event) {
                Dajaxice.vcweb.core.clone_experiment(pendingExperimentCallback, { experiment_id: experimentModel.pk() });
            }
            model.clearParticipants = function(experimentModel, event) {
                Dajaxice.vcweb.core.clear_participants(modifyExperimentCallback(experimentModel), { experiment_id: experimentModel.pk() });
            }
            model.archive = function(experimentModel, event) {
                Dajaxice.vcweb.core.archive(modifyExperimentCallback(experimentModel), { experiment_id: experimentModel.pk() });
            }
            model.deactivate = function(experimentModel, event) {
                Dajaxice.vcweb.core.deactivate(modifyExperimentCallback(experimentModel), { experiment_id: experimentModel.pk() });
            }
            model.modify = function() {
                console.debug("modify existing configuration");
            }
            model.canClearParticipants = function(experimentModel) {
                return experimentModel.status() === 'INACTIVE' && experimentModel.participantCount() > 0;
            }
            model.canRegisterParticipants = function(experimentModel) {
                return ! experimentModel.isArchived() && (experimentModel.participantCount() === 0);
            }

            return model;
        }
        var model = new DashboardViewModel(viewModelObject);
        ko.applyBindings(model);
    });
</script>

{% endblock javascript %}
