{% load static %}
{% load dajaxice_templatetags %}
{% load tags %}
{% load bootstrap3 %}

{% url 'home' as home %}
{% url 'about' as about %}
{% url 'contact' as contact %}
{% url 'core:login' as login %}
{% url 'core:logout' as logout %}
{% url 'core:register' as register %}
{% url 'core:profile' as profile %}
{% url 'core:dashboard' as dashboard %}
{% url 'core:participate' as participate %}

<!DOCTYPE html>
<html>
    <head>
        {% block head %}
        <title>{% block title %}virtual commons{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap -->
        <link href="{% static 'bootstrap-3.0.3/dist/css/bootstrap.min.css' %}" rel="stylesheet">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
        {% endblock %}
    </head>
    <body>

        {% block header %}
            <div class="navbar navbar-default navbar-static-top" role="navigation">
                <div class="container">
                    <div class="navbar-header">

                        {% comment %}
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        {% endcomment %}

                        <a class="navbar-brand {% active request home %}" href="{{ home}}"><img class='logo' src='{{STATIC_URL}}images/vcweb-logo.png' width='30' height='23' alt='vcweb logo'/>virtual commons</a>

                    </div>

                    {% comment %}
                    <div class="collapse navbar-collapse">
                    {% endcomment %}

                        <ul class="nav navbar-nav pull-right">

                            {% if request.user.is_authenticated %}
                                {% if request.user.participant %}
                                    <li class='{% active_re request dashboard %}'><a href='{{ dashboard }}'><i class='icon-group'></i> Participate</a></li>
                                {% elif request.user.experimenter %}
                                    <li class='{% active_re request dashboard %}'><a href='{{ dashboard }}'><i class='icon-dashboard'></i> Dashboard</a></li>
                                {% endif %}
                            {% endif %}

                            {% if request.user.is_authenticated %}
                                <li class='{% active request login %} dropdown'>

                                <a class='dropdown-toggle' data-toggle='dropdown' href='#'><span class="glyphicon glyphicon-user"></span> {{request.user.email}}<b class='caret'></b></a>
                                <ul class='dropdown-menu'>
                                    <li><a href='{{ profile }}'>Account</a></li>
                                    <li><a href='{{ logout }}'>Logout</a></li>
                                </ul>
                                </li>

                            {% else %}
                                <li class='{% active request login %}'>
                                <a href='{{ login }}'>Sign In</a>
                                </li>
                            {% endif %}

                        </ul>

                        {% comment %}
                    </div><!--/.nav-collapse -->
                {% endcomment %}

                </div>
            </div>
        {% endblock %}

        <div class='container'>
            <noscript>
                <div class='alert alert-error alert-block'>
                    <p>Please <b>enable JavaScript</b> before using this site.
                    <p>Experiments may not function properly without JavaScript enabled.</p>
                </div>
            </noscript>

            {% bootstrap_messages %}

            {% block page %}
                <!-- Page content goes here -->
            {% endblock page %}
        </div>

        <footer>
        <div class='container'>
            <hr/>
            <a href='http://csid.asu.edu'>Center for the Study of Institutional Diversity</a><br/>
            <a href='http://shesc.asu.edu'>School of Human Evolution and Social Change</a><br/>
            <a href='http://www.azregents.edu/'>&copy; {% now "Y" %} Arizona Board of Regents</a><br/>
            <a href='http://econlab.uaa.alaska.edu/'>&copy; {% now "Y" %} UAA Experimental Economics Lab</a>
        </div>
        </footer>

        {% dajaxice_js_import %}

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="{% static 'js/jquery-1.9.1.min.js' %}"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="{% static 'bootstrap-3.0.3/dist/js/bootstrap.min.js' %}"></script>

        {% block javascript %}
        {% endblock %}
        
    </body>
</html>

