{% extends "uaacore/base.html" %}
{% block title %}
Participant Dashboard - virtual commons
{% endblock %}

{% block head %}
    {{block.super}}
    <style type="text/css">
        table.autowidth {
            width: auto;
        }
        /*
        #authentication_code {
            width: 300px;
        }
        */
    </style>
{% endblock %}

{% block page %}
    {{block.super}}

    <h3>Current Experiments</h3>

    <p>Please select an experiment to join, entering the authentication code if necessary (not case-sensitive).</p>

    {% for e in current_experiments %}
        <hr/>
        <div class="row">
            <div class="col-sm-6">
                <p>{{e.experiment_metadata.title}} #{{e.id}} ({{e.experimenter.full_name}})</p>
            </div>
            <div class="col-sm-6">
                <form role="form" class="form-inline" action="{% url 'uaacore:join_experiment' e.id %}" method="post">
                    {% csrf_token %}
                    {% if e in joined_experiments %}
                        <input type="submit" class="btn btn-default" value="Rejoin"/>
                    {% else %}
                        <div class="input-group">
                            <input id="authentication_code" class="form-control" placeholder="Enter authentication code" type="text" name="authentication_code"></input>
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-default">Join</button>
                            </span>
                        </div>
                    {% endif %}
                </form>
            </div>
        </div>
    {% endfor %}

    {% comment %}
    <table class="table autowidth">
        {% for e in current_experiments %}
            <tr>
                <td>{{e.experiment_metadata.title}} #{{e.id}} ({{e.experimenter.full_name}})</td>
                <td>
                        <form role="form" action="{% url 'uaacore:join_experiment' e.id %}" method="post">
                            {% csrf_token %}
                            {% if e in joined_experiments %}
                                <input type="submit" class="btn btn-default" value="Rejoin"/>
                            {% else %}
                                <input class="form-control" placeholder="Enter authentication code" type="text" name="authentication_code"></input>
                                <input type="submit" class="btn btn-default" value="Join"/>
                            {% endif %}
                        </form>
                </td>
            </tr>
        {% endfor %}
    {% endcomment %}

    </table>

{% endblock page %}
