{% extends "uaacore/base.html" %}

{% block page%}
    <h2>Welcome</h2>

    <p>
    Welcome to the Virtual Commons Web Environment at the
    <a class='external' href='http://econlab.uaa.alaska.edu'>UAA Experimental Economics Laboratory</a>.
    Please <a href="{% url 'core:login' %}">sign in</a> to join an experiment.
    </p>

    <h2>Acknowledgements</h2>

    <p>
    The <a class='external' href='https://bitbucket.org/virtualcommons/vcweb'>Virtual Commons Web Environment core software</a> is developed at
    <a class='external' href='http://www.asu.edu'>Arizona State University</a>,
    and is funded by the <a class='external' href='http://nsf.gov'>National Science Foundation</a> 
    (BCS 0625354 and SES 0748632) and <a class='external' href='http://www.asu.edu'>Arizona State University</a> 
    and is affiliated with the <a class='external' href='http://csid.asu.edu'>Center for the Study of Institutional Diversity</a>.
    </p>

    <p>
    Specific experiments hosted on this web site are developed at the
    <a class='external' href='http://econlab.uaa.alaska.edu'>UAA Experimental Economics Laboratory</a>.
    </p>
{% endblock page %}

